
/*variável root para cor e fonte*/
:root {
    --branco: #fff;
    --verde: hsl(158, 36%, 37%);
    --fundopagina: hsl(30, 38%, 92%);
}

body {
    background: var(--fundopagina);
}

.component {
    display: flex;
    background: var(--branco);
    border-radius: 10px;
    width: 40%;
    margin: 10% auto;    
}

.component img {
    width: 50%;
    border-radius: 10px 0 0 10px ;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    margin-top: 30px;
}

.container h1 {
    font-size: 2rem;
    font-family: 'Fraunces', serif;
}

.container p {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.box-price {
    color: var(--verde);
    font-family: 'Fraunces', serif;

}




