
/*variável root para cor e fonte*/
:root {
    --branco: #fff;
    --verde: hsl(158, 36%, 37%);
    --fundopagina: hsl(30, 38%, 92%);

    --montserrat: 'Montserrat', sans-serif;
    --fraunces: 'Fraunces', sans-serif;
}


body {
    background: var(--fundopagina);
}

.component {
    display: flex;
    background: var(--branco);
    border-radius: 10px;
    width: 40%;
    margin: 10% auto;    
}

.component img {
    width: 50%;
    border-radius: 10px 0 0 10px ;
}